@model CasinoCrusaders.ViewModels.EnemigosViewModel;

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="@Url.Content("~/css/enemigos.css")" />

<h2 class="mb-4 mt-4 ">Listado de Enemigos</h2>



@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-warning">@ViewBag.Mensaje</div>
}

@if (ViewBag.MensajeError != null)
{
    <div class="alert alert-danger">@ViewBag.MensajeError</div>
}



@if (Model.Enemigos.Count > 0)
{

<table class="table table-dark table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Vida</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var enemigo in Model.Enemigos)
        {
            <tr>
                <td>@enemigo.Nombre</td>
                <td>@enemigo.Vida</td>
                <td>@enemigo.Ataque</td>
                <td>@enemigo.Defensa</td>
                <td>
                        <button type="button" class="btn btn-warning"
                                data-bs-toggle="modal"
                                data-bs-target="#editarEnemigoModal"
                                data-id="@enemigo.IdEnemigo"
                                data-nombre="@enemigo.Nombre"
                                data-vida="@enemigo.Vida"
                                data-ataque="@enemigo.Ataque"
                                data-defensa="@enemigo.Defensa">
                            Editar
                        </button>

                </td>
                <td> 
                     <form asp-action="EliminarEnemigo" asp-controller="Enemigo" asp-route-id="@enemigo.IdEnemigo" method="post" onsubmit="return confirm('¿Estás seguro de eliminar este enemigo?');">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                     </form>
                </td>
            </tr>
        }
    </tbody>
</table> 
}

<button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#crearEnemigoModal">
    Registrar Enemigo
</button>

<div class="modal fade" id="crearEnemigoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Registrar Enemigo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form asp-controller="Enemigo" asp-action="RegistrarEnemigo" method="post">
                    <div class="container">

                        <div class="row mb-3">
                            <label asp-for="NuevoEnemigo.Nombre" class="col-sm-3 col-form-label text-end">Nombre</label>
                            <div class="col-sm-6">
                                <input type="text" asp-for="NuevoEnemigo.Nombre" class="form-control" />
                                <span asp-validation-for="NuevoEnemigo.Nombre" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="NuevoEnemigo.Vida" class="col-sm-3 col-form-label text-end">Vida</label>
                            <div class="col-sm-6">
                                <input type="number" asp-for="NuevoEnemigo.Vida" class="form-control" />
                                <span asp-validation-for="NuevoEnemigo.Vida" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="NuevoEnemigo.Ataque" class="col-sm-3 col-form-label text-end">Ataque</label>
                            <div class="col-sm-6">
                                <input type="number" asp-for="NuevoEnemigo.Ataque" class="form-control" />
                                <span asp-validation-for="NuevoEnemigo.Ataque" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label asp-for="NuevoEnemigo.Defensa" class="col-sm-3 col-form-label text-end">Defensa</label>
                            <div class="col-sm-6">
                                <input type="number" asp-for="NuevoEnemigo.Defensa" class="form-control" />
                                <span asp-validation-for="NuevoEnemigo.Defensa" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Save changes</button>
                        </div>

                    </div>
                </form>

            </div>
           
        </div>
    </div>
</div>


<div class="modal fade" id="editarEnemigoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Enemigo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form asp-controller="Enemigo" asp-action="EditarEnemigo" method="post">
                    <input type="hidden" id="enemigo-id" name="IdEnemigo" />

                    <div class="container">
                        <div class="row mb-3">
                            <label for="enemigo-nombre" class="col-sm-3 col-form-label text-end">Nombre</label>
                            <div class="col-sm-6">
                                <input type="text" id="enemigo-nombre" name="Nombre" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="enemigo-vida" class="col-sm-3 col-form-label text-end">Vida</label>
                            <div class="col-sm-6">
                                <input type="number" id="enemigo-vida" name="Vida" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="enemigo-ataque" class="col-sm-3 col-form-label text-end">Ataque</label>
                            <div class="col-sm-6">
                                <input type="number" id="enemigo-ataque" name="Ataque" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="enemigo-defensa" class="col-sm-3 col-form-label text-end">Defensa</label>
                            <div class="col-sm-6">
                                <input type="number" id="enemigo-defensa" name="Defensa" class="form-control" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Guardar cambios</button>
                        </div>
                    </div>
                </form>


            </div>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        const editarModal = document.getElementById('editarEnemigoModal');
        editarModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            const id = button.getAttribute('data-id');
            const nombre = button.getAttribute('data-nombre');
            const vida = button.getAttribute('data-vida');
            const ataque = button.getAttribute('data-ataque');
            const defensa = button.getAttribute('data-defensa');

            document.getElementById('enemigo-id').value = id;
            document.getElementById('enemigo-nombre').value = nombre;
            document.getElementById('enemigo-vida').value = vida;
            document.getElementById('enemigo-ataque').value = ataque;
            document.getElementById('enemigo-defensa').value = defensa;
        });
    </script>

}